gunicorn==20.0.4
uvicorn==0.11.5
fastapi==0.58.0
nltk==3.6.5
spacy==2.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
requests==2.22.0
beautifulsoup4==4.8.0
html5lib==1.0.1
json5==0.8.5
numpy==1.16.5
scikit-learn==0.21.3
