gunicorn
uvicorn
fastapi
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
requests
beautifulsoup4
html5lib
json5
numpy
scikit-learn
