gunicorn==20.1.0
uvicorn==0.22.0
fastapi==0.97.0
nltk==3.8.1
spacy==3.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz#egg=en_core_web_sm
requests==2.23.0
beautifulsoup4
html5lib==1.1
json5==0.9.14
numpy==1.21.5
scikit-learn==1.2.2
